@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.tooltip {
    border: 1px solid #ddd;
    box-shadow: 1px 1px 1px #ddd;
    background: white;
    border-radius: 4px;
    padding: 4px;
    position: absolute;
}